<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo Email Spam Filter</title>
</head>
<body>
    <h1>Combo Email Spam Filter</h1>
    <p>Enter an email:</p>
    <form id="form">
        <textarea name="Email" id="email" rows="20" style="width: 100%;"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <p>This email is most likely: <span id="response"></span></p>
    <ul>
        <li>Logistic Regression: <span id="lr"></span></li>
        <li>naive_bayes_custom: <span id="nbc"></span></li>
        <li>Naive Bayes: <span id="nb"></span></li>
        <li>Decision Tree: <span id="dt"></span></li>
        <li>Support Vector Machine: <span id="svm"></span></li>
        <li>k-Nearest Neighbors: <span id="knn"></span></li>
        <li>Random Forest: <span id="rf"></span></li>
    </ul>

    <script>
        document.getElementById("form").onsubmit = function (event) {
            event.preventDefault();
            fetch("/email", {
                method: "POST",
                body: JSON.stringify({
                    email: document.getElementById("email").value,
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then((response) => response.json())
            .then((json) => {
                document.getElementById("response").innerHTML = json.response;
                document.getElementById("lr").innerHTML = json.tests.logistic_regression;
                document.getElementById("nb").innerHTML = json.tests.naive_bayes;
                document.getElementById("nbc").innerHTML = json.tests.naive_bayes_custom;
                document.getElementById("dt").innerHTML = json.tests.decision_tree;
                document.getElementById("svm").innerHTML = json.tests.support_vector_machine;
                document.getElementById("knn").innerHTML = json.tests.k_nearest_neighbors;
                document.getElementById("rf").innerHTML = json.tests.random_forest;
            });
        };
    </script>
</body>
</html>